.App {
  text-align: center;
}

@media (max-width: 700px) {
  .ResponsiveTable tr{
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
    max-width: 90vw;
  }
  .ResponsiveTable tr:nth-of-type(2n) {
    background-color: hsla(0, 0%, 0%, 0.1);
  }
  .ResponsiveTable th {
    display: none;
  }
  .ResponsiveTable td {
    max-width: 90vw;
    width: auto;
    text-align: center;
    display: grid;
    justify-content: center;
    border: 0;
    padding: 0.5rem 1rem;
  }
  .ResponsiveTable td:before {
    content: attr(data-label);
    font-weight: bold;
  }
  .ResponsiveTable button {
    width: 200px;
  }
}
